@media (min-width:481px) and (max-width:768px)
{
    *
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header
{
    position: relative;
    height: auto;
    width: 100%;
    display: block;
}

/* name */
.name
{
    height: 60px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 10px;
    text-align: left;
}

/* navigation */
.nav
{
    height: 60px;
    width: 100%;
    display: block;
    justify-content: right;
    /* text-align: center; */
}
ul
{
    list-style-type: none;
    justify-content: center;
    text-align: center;
    display: flex;
}
ul li
{
    padding: 0 8px;
    /* text-align: center; */
}
#l2 a  
{
  color: black;
}
.line1
{
  background-color: black;
  height: 2px;
  width: inherit;
}
ul li a
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    text-decoration: none;
    line-height: 20px;
    color: black;
}
.line
{
  background-color: black;
  height: 2px;
  width: inherit;
  visibility: hidden;
}
ul li a:hover .line
{
    animation: scale-up-left 0.4s linear both;
    color: black;
    visibility: visible;
}

@keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}

.s1
{
    margin-top: 50px;
    height: auto;
    width: 100%;
    text-align: center;
}
#s1
{
    color: #222;
    font-weight: bolder;
    font-size: 40px;
}
.section
{
    margin: 50px 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.spacecom
{
    height: auto;
    width: 50%;
}
.spacecom img
{
    height: 200px;
    width: 200px;
    box-shadow: black 10px 10px 20px;
    border-radius: 5px;
}
.details
{
    height: auto;
    width: 50%;
    justify-content: left;
    text-align: left;
    padding: 10px 10px 0 10px;
    display: block;
}
.details span
{
    font-size: 30px;
    color: red;
    font-weight: bolder;
}
.details p
{
    font-size: 20px;
}
.details ul
{
  list-style-type: none;
  justify-content: left;
  text-align: left;
  display: block;
  font-size: 20px;
}
.details ul i
{
  font-size: 20px;
  color: #c10528;
}
.details ul li
{
  color: #20a7d8 ;
}

/* project2 */
.details1
{
    height: auto;
    width: 50%;
    justify-content: left;
    text-align: left;
    display: block;
    padding: 10px;
}
.details1 span
{
    margin-left: 2%;
    font-size: 30px;
    color: red;
    font-weight: bolder;
}
.details1 p
{
    margin-left: 2%;
    font-size: 20px;
}
.details1 ul
{
  margin-left: 2%;
  list-style-type: none;
  justify-content: left;
  text-align: left;
  display: block;
  font-size: 20px;
}
.details1 ul i
{
  font-size: 20px;
  color: #c10528;
}
.details1 ul li
{
  color: #20a7d8 ;
}
.btn
{
    border: #20a7d8 1px solid;
    margin-top: 10px;
    padding: 10px;
    background-color: #20a7d8;
    border-radius: 20px;
    opacity: 0.8;
}
.btn a
{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.btn:hover
{
  opacity: 1;
}
.btn1
{
    margin-left: 2%;
    border: #20a7d8 1px solid;
    margin-top: 10px;
    padding: 10px;
    background-color: #20a7d8;
    border-radius: 20px;
    opacity: 0.8;
}
.btn1 a
{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.btn1:hover
{
  opacity: 1;
} 

.footer
{
  display: flex;
}
.connect
{
  height: auto;
  width: 100%;
  display: flex;
  padding: 20px 0 0 20px;
  justify-content: left;
  align-items: left;
}
.connect p
{
  font-size: 25px;
}
.btn3
{
  padding: 5px 10px;
  background-color: orange;
  opacity: 0.8;
  border: none;
  color: white;
  border-radius: 5px;
  margin-left: 1%;
  margin-bottom: 1%;
}
.btn3 a
{
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.btn3:hover
{
  opacity: 1;
}
/* icons */
.icons
{
    height: 60px;
    width: 100%;
    text-align: right;
    justify-content: right;

}
.icons a
{
    color: black;
    text-decoration: none;
    padding: 0 5px;
    font-weight: bolder;
    line-height: 60px;
    font-size: 25px;
}
.icons a i
{
    padding:5px;
    border-radius: 5px;
}
#twiiter
{
  opacity: 1;
    border-radius: 5px;
    color: aqua;
}
#whatsapp
{
  opacity: 1;
    border-radius: 5px;
    color: lightgreen;
}
#fb
{
  opacity: 1;
    border-radius: 5px;
    color: blue;
}
#linkin
{
  opacity: 1;
    border-radius: 5px;
    color: rgb(68, 201, 245);
}
.icons a i:hover
{
  background-color: #222;
  opacity: 0.8;
}

}