*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.header
{
    height: 70px;
    width: 100%;
    display: flex;
}

/* name */
.name
{
    height: 60px;
    width: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 10px;
    /* text-align: center; */
    line-height: 60px;
}

/* navigation */
.nav
{
    height: 60px;
    width: 70%;
    display: flex;
    justify-content: right;
    /* text-align: center; */
}
ul
{
    list-style-type: none;
    justify-content: center;
    text-align: center;
    display: flex;
}
ul li
{
    padding: 0 30px;
    /* text-align: center; */
}
#l2 a  
{

  color: black;
}
.line1
{
  background-color: black;
  height: 2px;
  width: inherit;
}
ul li a
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    line-height: 60px;
    color: black;
}
.line
{
  background-color: black;
  height: 2px;
  width: inherit;
  visibility: hidden;
}
ul li a:hover .line
{
    animation: scale-up-left 0.4s linear both;
    color: black;
    visibility: visible;
}

@keyframes scale-up-left {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
  }
}

#n1 
{
    color: black;
    border: none;
    height: 60px;
    background: transparent;
    width: 30%;
    font-size: 20px;
    font-weight: bolder;
    font-family: monospace;
    opacity: 1;
    text-align: left;
    padding-left: 10px;

}
#n1 i
{
    color: black;
    line-height: 60px;
}

.heading
{
  position: relative;
  height: 200px;
  width: 100%;
  background-color: orange;
  justify-content: center;
  text-align: center;
}
.heading h1
{
  font-weight: bolder;
  font-size: 30px;
  padding: 70px 0;
}
.details
{
  background-color: white;
  bottom: 40px;
  position: relative;
  height: 500px;
  width: 80%;
  margin: auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
}
.details1
{
  padding: 5px;
  height: 100%;
  width: 30%;
}
iframe
{
  height: 80%;
  width: 100%;
}
.details2
{
  padding: 10px;
  height: 100%;
  width: 70%;
}
.bruh
{
  width: 100%;
  display: flex;
  gap: 5px;
  padding: 10px 0;
}
.firstname
{
  width: 50%;
  display: block;
  padding: 3px;
}
.lastname
{
  width: 50%;
  display: block;
  padding: 3px;
}
input
{
  border-radius: 5px;
  padding: 5px;
  width: 100%;
}
.mail
{
  padding: 10px 0;
}
.subject
{
  padding: 10px 0;
}
.Message
{
  padding: 10px 0;
}
.Message input
{
  border-radius: 5px;
  padding: 60px 10px;
  text-align: justify;
}
.send
{
  padding: 10px 0;
  text-align: center;
}
.btnd1
{
  padding: 10px;
  background-color: orange;
  opacity: 0.8;
  border: none;
  color: white;
  border-radius: 3px;
}
.btnd1:hover
{
  opacity: 1;
}
.footer
{
  margin-bottom: 10px;
    display: flex;
}
.connect
{
  height: auto;
  width: 100%;
  display: flex;
  padding: 20px 0 0 20px;
  justify-content: left;
  align-items: left;
}
.connect p
{
  font-size: 25px;
}
.btn3
{
  padding: 10px;
  background-color: orange;
  opacity: 0.8;
  border: none;
  color: white;
  border-radius: 5px;
  margin-left: 1%;
}
.btn3 a
{
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.btn3:hover
{
  opacity: 1;
}
/* icons */
.icons
{
    height: 60px;
    width: 100%;
    text-align: right;
    justify-content: right;

}
.icons a
{
    color: black;
    text-decoration: none;
    padding: 0 10px;
    font-weight: bolder;
    line-height: 60px;
    font-size: 30px;
}
.icons a i
{
    padding:10px;
    border-radius: 5px;
}
#twiiter
{
  opacity: 1;
    border-radius: 5px;
    color: aqua;
}
#whatsapp
{
  opacity: 1;
    border-radius: 5px;
    color: lightgreen;
}
#fb
{
  opacity: 1;
    border-radius: 5px;
    color: blue;
}
#linkin
{
  opacity: 1;
    border-radius: 5px;
    color: rgb(68, 201, 245);
}
.icons a i:hover
{
  background-color: #222;
  opacity: 0.8;
}
